:root {
    --white: rgba(255, 255, 255, 1);
    --gray-900: rgba(17, 25, 40, 1);
    --gray-500: rgba(107, 114, 128, 1);
    --gray-800: rgba(31, 42, 55, 1);
    --purple-600: rgba(126, 58, 242, 1);
    --gray-200: rgba(229, 231, 235, 1);
    --gray-50: rgba(249, 250, 251, 1);
    --primary-600: rgba(28, 100, 242, 1);
    --text-2xl-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-2xl-font-semibold-font-weight: 600;
    --text-2xl-font-semibold-font-size: 24px;
    --text-2xl-font-semibold-letter-spacing: 0px;
    --text-2xl-font-semibold-line-height: 150%;
    --text-2xl-font-semibold-font-style: normal;
    --text-base-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-base-font-medium-font-weight: 500;
    --text-base-font-medium-font-size: 16px;
    --text-base-font-medium-letter-spacing: 0px;
    --text-base-font-medium-line-height: 150%;
    --text-base-font-medium-font-style: normal;
    --text-sm-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-sm-font-medium-font-weight: 500;
    --text-sm-font-medium-font-size: 14px;
    --text-sm-font-medium-letter-spacing: 0px;
    --text-sm-font-medium-line-height: 150%;
    --text-sm-font-medium-font-style: normal;
    --leading-none-text-6xl-font-black-font-family: "Inter-Black", Helvetica;
    --leading-none-text-6xl-font-black-font-weight: 900;
    --leading-none-text-6xl-font-black-font-size: 60px;
    --leading-none-text-6xl-font-black-letter-spacing: 0px;
    --leading-none-text-6xl-font-black-line-height: 60px;
    --leading-none-text-6xl-font-black-font-style: normal;
    --text-xl-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-xl-font-normal-font-weight: 400;
    --text-xl-font-normal-font-size: 20px;
    --text-xl-font-normal-letter-spacing: 0px;
    --text-xl-font-normal-line-height: 150%;
    --text-xl-font-normal-font-style: normal;
    --leading-tight-text-4xl-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
    --leading-tight-text-4xl-font-extrabold-font-weight: 800;
    --leading-tight-text-4xl-font-extrabold-font-size: 36px;
    --leading-tight-text-4xl-font-extrabold-letter-spacing: 0px;
    --leading-tight-text-4xl-font-extrabold-line-height: 125%;
    --leading-tight-text-4xl-font-extrabold-font-style: normal;
    --leading-tight-text-2xl-font-bold-font-family: "Inter-Bold", Helvetica;
    --leading-tight-text-2xl-font-bold-font-weight: 700;
    --leading-tight-text-2xl-font-bold-font-size: 24px;
    --leading-tight-text-2xl-font-bold-letter-spacing: 0px;
    --leading-tight-text-2xl-font-bold-line-height: 125%;
    --leading-tight-text-2xl-font-bold-font-style: normal;
    --leading-none-text-lg-font-medium-font-family: "Inter-Medium", Helvetica;
    --leading-none-text-lg-font-medium-font-weight: 500;
    --leading-none-text-lg-font-medium-font-size: 18px;
    --leading-none-text-lg-font-medium-letter-spacing: 0px;
    --leading-none-text-lg-font-medium-line-height: 18px;
    --leading-none-text-lg-font-medium-font-style: normal;
    --text-lg-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-lg-font-normal-font-weight: 400;
    --text-lg-font-normal-font-size: 18px;
    --text-lg-font-normal-letter-spacing: 0px;
    --text-lg-font-normal-line-height: 150%;
    --text-lg-font-normal-font-style: normal;
    --leading-none-text-5xl-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
    --leading-none-text-5xl-font-extrabold-font-weight: 800;
    --leading-none-text-5xl-font-extrabold-font-size: 48px;
    --leading-none-text-5xl-font-extrabold-letter-spacing: 0px;
    --leading-none-text-5xl-font-extrabold-line-height: 48px;
    --leading-none-text-5xl-font-extrabold-font-style: normal;
    --text-lg-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-lg-font-medium-font-weight: 500;
    --text-lg-font-medium-font-size: 18px;
    --text-lg-font-medium-letter-spacing: 0px;
    --text-lg-font-medium-line-height: 150%;
    --text-lg-font-medium-font-style: normal;
    --text-base-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-base-font-normal-font-weight: 400;
    --text-base-font-normal-font-size: 16px;
    --text-base-font-normal-letter-spacing: 0px;
    --text-base-font-normal-line-height: 150%;
    --text-base-font-normal-font-style: normal;
    --text-base-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-base-font-semibold-font-weight: 600;
    --text-base-font-semibold-font-size: 16px;
    --text-base-font-semibold-letter-spacing: 0px;
    --text-base-font-semibold-line-height: 150%;
    --text-base-font-semibold-font-style: normal;
    --shadow-md: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  }
  